h1 {
    font-size: 2em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: navy;
    text-align: center;
}

body {
    background-color: beige;
}

p {
    font-size: 1.1em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}

#respuesta {
    font-size: 1.5em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: purple;
    text-align: center;
}

#rojo,
#amarillo,
#verde,
#azul {
    width: 225px;
    height: 225px;
    border: 1px solid black;
    margin: 10px;
    float: left
}

#rojo {
    background-color: red;
}

#amarillo {
    background-color: yellow;
}

#verde {
    background-color: green;
}

#azul {
    background-color: blue;
}

.colores {
    display: flex;
    justify-content: center;
}